
/* definiciones de fuentes */
@font-face {
  font-family: 'Gotham2';
  src: url('txt/Gotham-Light.otf') format('opentype');
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Evita que el padding afecte el ancho total */
}
body {
  display: flex;
  justify-content: center;
}

.header {
  min-width: 60%;
  height: 60px;
  padding: 0 5%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, .1);
  box-shadow: 0 2px 25px rgba(0,0,0,0.1);
}
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu ul {
  min-width: 390px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu li {
  padding: 5px;
  margin: 0 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 9px #e6e6e6;
  outline: #ffffff6b 1px solid;
}
.nav-menu a, .nav-container a {
  font-family: 'Gotham2';
  font-weight: 100;
  color: #272727;
  text-decoration: none;
}

.banner {
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: center;
}
.banner video {
  width: 30%;
  height: auto;
  object-fit: cover;
}

/* Estilos del menú hamburguesa */
.menu-toggle {
  display: none;
}
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}
.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.3s;
}
.nav-container {
  display: none;
}

@media (max-width: 1000px) {
  .logo {
    margin: 0;
  }
}

/* Estilos móviles */
@media (max-width:850px) {
  .hamburger {
    display: flex;
  }

  .logo {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-menu {
    display: none;
  }

  .nav-container {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s;
    background-color: #333;
  }

  .nav-container ul {
    flex-direction: column;
    gap: 10px;
    margin: 5px 0;
    text-align: center;
    width: 100%;
  }

  .nav-container li {
    padding: 10px 0;
    width: 100%;
    background-color: royalblue;
    box-shadow: inset 0px 7px 6px 0px rgba(0, 0, 0, 0.123);
  }
  .nav-container a {
    font-family: 'Gotham2';
    font-weight: 100;
    color: #fff;
    text-decoration: none;
  }

  .menu-toggle:checked ~ .nav-container {
    height: 100vh;
    transform: translatex(0);
    opacity: 1;
    visibility: visible;
  }

  .menu-toggle:checked ~ .hamburger span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .menu-toggle:checked ~ .hamburger span:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle:checked ~ .hamburger span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
