---
import OrigenLayout from '../../../layouts/OrigenLayout.astro';
---

<OrigenLayout>
  <main>
    <h1>Eventos de Origen</h1>
    <p>Sección para actividades y próximos eventos.</p>
  </main>
</OrigenLayout>
