---
import { getCollection } from 'astro:content';

const articulos = await getCollection('inicio');
---

<section class="articles-grid">
  {articulos.map((articulo) => (
    <article class="card">
      <div class="card-image">
        <img src={articulo.data.img} alt={articulo.data.title} />
      </div>
      <h3>{articulo.data.title}</h3>
      <p>{articulo.data.text}</p>
    </article>
  ))}
</section>
