---
import yosefVideo from '../../../assets/yosef/yosef.webm';
---

<section class="hero">
  <div class="hero-title">
    <h1>Tu Laboratorio<br />de Confianza</h1>
    <p>Donde tus historias se vuelven realidad</p>
  </div>

  <div class="hero-media">
    <video autoplay muted loop playsinline>
      <source src={yosefVideo} type="video/webm" />
      Tu navegador no soporta video WebM.
    </video>
  </div>
</section>
