---
import Layout from '../layouts/OrigenLayout.astro';
---

<Layout>
  <main>
    <h1>Bienvenido a Zany Zenith</h1>
    <p>Selecciona una marca para entrar:</p>
    <ul>
      <li><a href="/origen-estudio">Origen Estudio</a></li>
      <li><a href="/yosef">Yosef</a></li>
      <li><a href="/bellum">Bellum</a></li>
    </ul>
  </main>
</Layout>
