---
import BellumLayout from '../../../layouts/BellumLayout.astro';
---

<BellumLayout>
  <main>
    <h1>Catálogo de Bellum</h1>
    <p>Sección para productos y presentación.</p>
  </main>
</BellumLayout>
