---
import OrigenLayout from '../../layouts/OrigenLayout.astro';
import HeroIntro from '../../components/brands/origen/HeroIntro.astro';
---

<OrigenLayout>
  <main>
    <HeroIntro />
  </main>
</OrigenLayout>
