---
import '../styles/global.css';
import '../styles/brands.css';
const { brand = 'origen', title } = Astro.props;
const pageTitle = title ?? brand;
---

<!doctype html>
<html lang="es" class={brand}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
