---
import BellumLayout from '../../layouts/BellumLayout.astro';
import HeroIntro from '../../components/brands/bellum/HeroIntro.astro';
---

<BellumLayout>
  <main>
    <HeroIntro />
  </main>
</BellumLayout>
